@layer base {
    :root {
        --lime: #a4ffa2;
        --magenta: #f46dda;
        --magenta50: #f46dda80;
        --white: #fff;
        --tan: #c3c5b4;
        --teal: #236d81;
        --cyan: #7de6f4;
        --black: #050d14;
        --gradient: linear-gradient(180deg, var(--black) 0%, var(--teal) 100%);

        --base-font-size: 1rem;
        --base-font-scale: 1.25;
        --h6: calc(var(--base-font-size) / var(--base-font-scale));
        --h5: calc(var(--base-font-size) * var(--base-font-scale));
        --h4: calc(var(--h5) * var(--base-font-scale));
        --h3: calc(var(--h4) * var(--base-font-scale));
        --h2: calc(var(--h3) * var(--base-font-scale));
        --h1: calc(var(--h2) * var(--base-font-scale));

        --font-family-sans-serif: Outfit, sans-serif;
        --font-family-serif: "Cormorant Garamond", serif;
        --font-family-cursive: Pacifico, cursive;
    }

    html {
        box-sizing: border-box;
        font-size: 100%;
        font-optical-sizing: auto;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        min-height: 100vh;
        background: var(--gradient);
        font-family: var(--font-family-sans-serif), cursive;
        line-height: 1.75;
        font-weight: 400;
        font-size: var(--base-font-size);
        text-align: center;
        color: var(--white);
        padding: 0;
        margin: 0;
    }

    a {
        color: var(--lime);
    }

    a:hover {
        color: var(--cyan);
    }

    img {
        width: 100%;
        max-width: 100%;
    }

    figure, blockquote {
        margin: 0;
        padding: 0;
    }

    .colors {
        display: flex;
        gap: 1rem
    }

    .colors > div {
        width: 3rem;
        height: 3rem;
        border: grey solid 1px;
    }

    .lime {
        background-color: var(--lime)
    }

    .magenta {
        background-color: var(--magenta)
    }

    .magenta50 {
        background-color: var(--magenta50);
    }

    .white {
        background-color: var(--white)
    }

    .tan {
        background-color: var(--tan)
    }

    .teal {
        background-color: var(--teal)
    }

    .cyan {
        background-color: var(--cyan)
    }

    .black {
        background-color: var(--black)
    }

    h1, h2, h3, h4, h5 {
        margin: 0;
        line-height: 1.3;
    }

    p {
        margin: 0;
    }

    h1, .h1 {
        font-size: var(--h1);
    }

    h2, .h2 {
        font-size: var(--h2);
    }

    h3, .h3 {
        font-size: var(--h3);
    }

    h4, .h4 {
        font-size: var(--h4);
    }

    h5, .h5 {
        font-size: var(--h5);
    }

    h6, small, .text-small {
        font-size: calc(var(--base-font-size) / var(--base-font-scale));
    }

    .wrapper {
        max-width: 375px;
        margin: 0 auto;
        padding: 2rem 1rem 1rem;
    }

    .btn-primary {
        margin: 1rem 0;
        padding: 0.75rem 1.5rem;
        border: 2px solid var(--magenta);
        border-radius: 10px;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        color: var(--magenta);
        white-space: nowrap;
        min-width: 10rem;
        font-family: var(--font-family-serif);
        text-align: center;
    }

    .btn-primary:hover {
        color: var(--cyan);
        border-color: var(--cyan);
    }

    .btn-soldout {
        color: var(--magenta50);
        border-color: var(--magenta50);
        pointer-events: none;
        background: linear-gradient(to top right, transparent calc(50% - 1px), var(--magenta50), transparent calc(50% + 1px));
    }
}

@layer header {
    header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    header img {
        width: 150px;
    }

    header nav a {
        font-family: var(--font-family-cursive);
        text-decoration: none;
        color: white;
        padding-left: 1rem;
        line-height: 2rem;
        font-size: var(--h6);
    }
}

@layer main {
    .album {
        padding-top: 2rem;
    }

    .player {
        padding-top: 1rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: center;
        font-family: var(--font-family-cursive);
    }

    .player button {
        background-color: var(--lime);
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        border: none;
    }

    .player img {
        width: 1rem;
        height: 1rem;
    }

    #song-name {
        text-align: left;
    }

    #track-number {
        text-align: right;
    }

    #seek {

    }

    #volume {
    }

    input[type="range"] {
        appearance: none;
        -webkit-appearance: none;
        background: transparent;
        width: 100%;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        background: var(--teal);
        height: 2px;
        border-radius: 4px;
    }

    input[type="range"]::-moz-range-track {
        background: var(--teal);
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: -5px;
        background-color: var(--white);
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 50%;
        border: 1px solid var(--cyan);
        cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
        border: 1px solid var(--cyan);
        background-color: var(--white);
        cursor: pointer;
    }

    .slider {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-family: var(--font-family-serif);
    }

    .col-span-2 {
        grid-column: span 2;
    }

    .reviews {
        padding-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-family: var(--font-family-serif);
        font-size: calc(var(--base-font-size) / var(--base-font-scale));
        gap: 1rem;
    }

    .reviews img {
        width: 1rem;
        height: 1rem;
    }

    .promo {
        margin-top: 2rem;
        border: 2px solid var(--cyan);
        font-family: var(--font-family-serif);
        padding: 0.5rem;
    }

    .promo small {
        font-family: var(--font-family-cursive);
    }

    .promo h1 {
        text-transform: uppercase;
        font-size: var(--h5);
        color: var(--lime);
        margin: .25rem;
        padding: 0;
        font-weight: 400;
    }
}

@layer aside {
    aside {
        margin: 2rem 0;
    }

    table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }

    th {
        border-bottom: 1px solid grey;
    }

    td {
        font-family: var(--font-family-cursive);
    }

    th, td {
        padding: 1rem 0;
        font-size: var(--h6);
    }

    .header-cell {
        color: gray;
    }

    .time-cell {
        font-family: var(--font-family-serif);
        color: var(--magenta);
    }
}

@layer footer {
    footer {
        max-width: 12rem;
        margin: 0 auto;
    }

    .social {
        display: flex;
        margin: 1rem auto;
        padding: 0;
        justify-content: space-between;
        list-style-type: none;
    }

    footer img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .legal {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        font-family: var(--font-family-serif);
        font-size: var(--h6);
        text-transform: uppercase;
    }

    .copy {
        font-family: var(--font-family-serif);
        font-size: var(--h6);
    }

    .copy span {
        text-transform: uppercase;
    }
}

@layer tour-page {
    #tour-page main {
        margin: 4rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #tour-page h1 {
        font-family: var(--font-family-cursive);
        grid-column: span 2;
    }

    #tour-page .date {
        font-family: var(--font-family-cursive);
        color: var(--tan);
    }

    #tour-page .club {
        font-family: var(--font-family-serif);
        color: var(--lime);
        text-transform: uppercase;
    }

    #tour-page p {
        font-family: var(--font-family-sans-serif);
        text-align: left;
    }

    #tour-page main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}