@layer base {
    :root {
        --lime: #a4ffa2;
        --magenta: #f46dda;
        --magenta50: #f46dda80;
        --white: #fff;
        --tan: #c3c5b4;
        --teal: #236d81;
        --cyan: #7de6f4;
        --black: #050d14;

        --base-font-size: 1rem;
        --base-font-scale: 1.25;
        --h5: calc(var(--base-font-size) * var(--base-font-scale));
        --h4: calc(var(--h5) * var(--base-font-scale));
        --h3: calc(var(--h4) * var(--base-font-scale));
        --h2: calc(var(--h3) * var(--base-font-scale));
        --h1: calc(var(--h2) * var(--base-font-scale));

        --font-family: "Roboto"
    }

    html {
        box-sizing: border-box;
        font-size: 100%;
        font-optical-sizing: auto;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        font-family: var(--font-family), sans-serif;
        line-height: 1.75;
        font-weight: 400;
        font-size: var(--base-font-size);
        text-align: center;
        background-color: var(--teal);
        color: var(--white);
        padding: 0;
        margin: 0;
    }

    a {
        color: var(--lime);
    }

    a:hover {
        color: var(--cyan);
    }

    img {
        width: 100%;
        max-width: 100%;
    }

    .colors {
        display: flex;
        gap: 1rem
    }

    .colors > div {
        width: 3rem;
        height: 3rem;
        border: grey solid 1px;
    }

    .lime {
        background-color: var(--lime)
    }

    .magenta {
        background-color: var(--magenta)
    }

    .magenta50 {
        background-color: var(--magenta50);
    }

    .white {
        background-color: var(--white)
    }

    .tan {
        background-color: var(--tan)
    }

    .teal {
        background-color: var(--teal)
    }

    .cyan {
        background-color: var(--cyan)
    }

    .black {
        background-color: var(--black)
    }

    h1, h2, h3, h4, h5 {
        margin: 3rem 0 1.38rem;
        font-family: Roboto, sans-serif;
        line-height: 1.3;
    }

    h1, .h1 {
        font-size: var(--h1);
    }

    h2, .h2 {
        font-size: var(--h2);
    }

    h3, .h3 {
        font-size: var(--h3);
    }

    h4, .h4 {
        font-size: var(--h4);
    }

    h5, .h5 {
        font-size: var(--h5);
    }

    h6, small, .text-small {
        font-size: calc(var(--base-font-size) / var(--base-font-scale));
    }

    .club {
        font-size: var(--h5);
    }
}

@layer header {
    .wrapper {
        max-width: 375px;
        margin: 0 auto;
    }

    header {
        padding: 3rem 0 2rem 0;
        text-align: center;
    }

    header img {
        max-width: 150px;
    }
}

@layer tour {
    aside {
        padding: 3rem 0 2rem 0;
    }

    figure {
        margin-block-start: 0.25rem;
        margin-block-end: 2rem;
    }

    .date {
        color: var(--tan);
    }

    .club {
        color: var(--lime);
        font-size: var(--h5);
    }

    .stars {
        display: flex;
        padding: .25rem 0;
        gap: 0.25rem;
        justify-content: center;
    }

    .stars img {
        width: var(--h5);
        height: var(--h5);
    }

    blockquote {
        margin: 0;
    }

    cite {
        font-style: normal;
    }
}

@layer footer {
    footer {
        text-transform: uppercase;
        font-size: var(--h4);
    }
}